button.monolith-button, .monolith-button:link, .monolith-button:visited {
    background-color: $mid-gray;
    color: white;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.monolith-button:hover, .monolith-button:focus, .monolith-button:active {
    background-color: $roman;
}