.monolith-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 5px 50px 5px;
  -moz-border-radius: 50px 5px 50px 5px;
  -webkit-border-radius: 50px 5px 50px 5px;
  border: 0px solid #000000;
  background: #F3F6FC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2E3E3, #F3F6FC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2E3E3, #F3F6FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .monolith-container {
    max-width : 70%;
    word-wrap: break-word;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .monolith-container {
    max-width : 80%;
    word-wrap: break-word;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .monolith-container {
    max-width : 100%;
    word-wrap: break-word;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .monolith-container {
    max-width : 80%;
    word-wrap: break-word;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .monolith-container {
    max-width : 100%;
    word-wrap: break-word;
  }
}
