.monolith-container {
  border-radius: 70px 10px 70px 10px;
  -moz-border-radius: 70px 10px 70px 10px;
  -webkit-border-radius: 70px 10px 70px 10px;
  border: 0px solid #000000;
  background: #c21500;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}