.monolith-error {
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border: 4px inset $roman;
  background: lighten( $roman, 20% );
  width: 80%;
  margin: 1em auto;
}

.monolith-error p {
  opacity: 1;
  font-size: 1.2em;
  font-weight: bold;
}

.monolith-error pre {
  display:block;
  background: beige;
  border: 1px dashed black;
  border-radius: 10px;
  margin: 2em;
  text-align: justify;
  line-height: 1.5em;
  padding: 1.5em;
  /* Line wrapping behaviour */
  white-space: pre-wrap;                 /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
  white-space: -o-pre-wrap;              /* Opera 7 and up */
}
