ul.monolith-group {
  list-style-type: none;
}

ul.monolith-group li {
  display: inline-block;
  text-align: left;
  // here we should use media queries that takes in account display resolution
  margin-left: 5%;
  margin-right: 5%;
}
