ul.monolith-group {
  list-style-type: none;
}

ul.monolith-group li {
  display: inline-block;
  text-align: left;
  // qui starebbero bene delle mediaquery che regolano in base alla risoluzione dello schermo
  margin-left: 5%;
  margin-right: 5%;
}
